
/*-- scss:defaults --*/
$font-family-sans-serif:  "Cooper Hewitt";
$headings-font-family:  "Cooper Hewitt", sans-serif;

/* $headings-font-weight:  500 !default; */
$h2-font-size:          1rem !default;
$h3-font-size: 1rem !default;
$link-color: maroon !default;

/*-- scss:rules --*/


.column-margin figcaption, .margin-caption, div.aside, aside, .column-margin {
    color: #5a6570;
    font-size: .8rem;
}

header .chapter-title {
    text-transform: none;
    font-size: 1.25rem;
    letter-spacing: normal;
}

.sidebar {
    font-family: "Cooper Hewitt", sans-serif;    
    /* font-size: 0.5rem; */
}

.sidebar-title {
    margin-top: .25rem;
    padding-bottom: .5rem;
    visibility: visible;
    font-family: "Cooper Hewitt", monospace;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .11em;
    line-height: 1.12rem; 
    font-size: 1rem;
}


.sidebar-header > div > div > a > i {
    display: none
}

.sidebar-navigation .sidebar-item .chapter-title {
    font-size: 0.9rem;
    text-transform: initial;
    font-style: normal;
    /* font-weight: 200; */
}

.sidebar-navigation .sidebar-item {
    font-size: 1rem;
    font-style: italic;
    /* font-weight: 500; */
    /* text-transform: uppercase; */
}
.navbar-brand > a{
    color: maroon;
}

.sidebar nav[role=doc-toc] ul {
    font-size: 0.8rem;
}
.sidebar nav[role=doc-toc] ul>li>a.active {
    border-left: 1px solid maroon;
    color: maroon !important;
}
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid maroon;
    color: maroon !important;
}

div.sidebar-item-container .active, div.sidebar-item-container :hover, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
    color: maroon;
}


.blockquote {
    border-left: none;
}
.blockquote p {
    font-size: smaller;
    color: #5a6570;
    font-style: italic;
}
.sans-serif {
    font-family: "Cooper Hewitt", monospace;
    font-style: normal;
    text-transform: uppercase;
}
