/*-- scss:defaults --*/

/* $primary-color: #eff1f5; */
/* $secondary-color: #e6e9ef; */
/* $body-bg: #4c4f69; */
/* $body-color: #5c5f77; */
/* $presentation-heading-color: $body-bg; */

/* $dark-bg-text-color: $presentation-heading-color; */

$presentation-h-font12: "Cooper Hewitt Semibold";

$presentation-h-font36: "Cooper Hewitt Normal";
$presentation-font-size-root: 18pt;

/* $presentation-heading-font:" */
/* primary-color 	Controls the color of header background and slides with H1 header */
/* secondary-color 	Controls the color links, cross-reference, progress line. */
/* example-color 	Controls the color of Example block and Example text. */
/* alert-color 	Controls the color of Alert block and Alert text. */
/* presentation-h-font12 	Controls the presentation title and slide header font (basically H1 and H2 font). */
/* presentation-h-font36 	Controls header of level 3 to 6 (i.e. H3-H6) fon */


